:root {
  --clr-primary-400: hsl(120, 100%, 20%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 97%);
  --clr-neutral-600: hsl(0, 0%, 15%);
  --clr-neutral-700: hsl(0%, 0%, 0%);

  --clr-focus: hsl(236, 92.9%, 55.9%);
  --clr-danger: hsl(0, 99.2%, 49.8%);

  --fs-200: 0.625rem;
  --fs-400: 1rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* Basic Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

fieldset {
  border: none;
}

input,
textarea,
button {
  font: inherit;
}

img,
picture {
  max-width: 100%;
}

/* Styling */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--fs-400);
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-600);
}

main {
  max-width: 1440px;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

main > * {
  flex: 1;
}

.bg-img {
  min-width: 200px;
  min-height: 400px;
  background-image: url("./assets/images/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--clr-neutral-100);
  flex-basis: 40%;
  position: relative;
}

.bg-img__credit {
  width: 100%;
  font-size: var(--fs-200);
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.7;
}

.bg-img__credit a {
  color: var(--clr-neutral-100);
}

.logo__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: hsla(0, 0%, 0%, 0.5);
  padding: 2em 1em;
  position: absolute;
  top: 30%;
}

.logo {
  width: 3em;
}

.title {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  word-spacing: 0.15em;
}

.form__container {
  flex-basis: 60%;
  align-self: center;
  padding: 3rem 0;
}

.form__container > * {
  --side-padding: 3rem;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}

.form__container p,
.form__container h2 {
  max-width: 57ch;
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  line-height: 1.3;
  color: var(--clr-neutral-700);
}

.form__container p:nth-of-type(2) {
  margin-top: 2rem;
}

.form__container p:last-of-type {
  font-size: var(--fs-400);
  color: var(--clr-neutral-600);
  margin-top: 1rem;
}

.form__container p:last-of-type > a {
  text-decoration: none;
  color: var(--clr-primary-400);
}

.form {
  --block-padding: 2em;
  background-color: var(--clr-neutral-100);
  padding-top: var(--block-padding);
  padding-bottom: var(--block-padding);
  margin-top: 2rem;
}

.form__group {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 2rem;
}

@media (min-width: 55em) {
  .form__group {
    gap: 3rem;
  }
}

.form__group:first-of-type {
  margin-top: 2rem;
}

.form__label {
  flex: 1;
  min-width: 200px;
  text-transform: uppercase;
}

.form__input {
  appearance: none;
  width: 100%;
  height: 2.5em;
  border: 1px solid hsla(0, 0%, 85%);
  border-radius: 5px;
  outline: none;
  margin-top: 0.5rem;
  padding: 0 0.5em;
}

.form__input:focus {
  border-color: blue;
}

.form__input:hover {
  box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.15);
}

.form__input.error:invalid {
  border-color: hsl(0, 92.3%, 46.1%);
}

.form__error-msg {
  font-size: calc(var(--fs-200) + 0.2rem);
  color: var(--clr-danger);
  text-transform: none;
}

.form__button {
  margin-top: 2rem;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.15);
}

.form__button:hover {
  box-shadow: none;
  cursor: pointer;
}

.form__button:active {
  transform: scale(0.97);
}

/* UTILITY CLASSES */
/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
